@background-color: rgb(14,14,15);
@maple-background-color: rgb(181,71,46);
@main-font: "Roboto", sans-serif;
@title-background-color: rgb(40, 43, 43);
@default-text-color: white;
@version-text-color: #f98a71;
@expansion: all .4s ease-out;
@highlight-end-radius: 250;

html {
    height: 100vh;
}

body {
    -webkit-app-region: drag;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0px -68px;
	background-color: @background-color;
	padding: 0px;
    margin: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.banner {
    z-index: 1;
    position: fixed;
    top: -88px;
    right: -5px;
}

#version {
    z-index: 2;
    position: fixed;
    width: fit-content;
    height: 10%;
    right: 9px;
    top: 65px;
    font-size: 18px;
    font-family: "Nova Flat", cursive;
    color: @version-text-color;
    transform: rotate(45deg);
}

.open {

    object {
        z-index: 0;
        left: 0px;
        width: 100%;
        position: fixed;
    }

    button {
        z-index: 1;
        position: fixed;
        left: 20%;
        top: 15%;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        -webkit-app-region: no-drag;
        font-size: 28px;
        font-family: @main-font;
        font-weight: 300;
        color: @default-text-color;
        width: 60%;
        height: 70%;
        transition: @expansion;
    }

    svg {
        transition: @expansion;
        z-index: 0;
        position: fixed;
        left:50%;
        top: 50%;

        circle {
            transition: @expansion;
            fill: @maple-background-color;
            opacity: 1;
            cx: 0;
            cy: 0;
            r: 0;
        }
    }

    button.disappear {
        color: @maple-background-color;
        /* font-size: 0px; */
        transition: @expansion;
    }

    svg.expand {
        left: 0%;
        top: 0%;
        transition: @expansion;

        circle {
            position: relative;
            transition: @expansion;
            // * opacity: 0; 
            cx: @highlight-end-radius;
            cy: @highlight-end-radius;
            r: @highlight-end-radius;
        }
    }
}