@background-color: rgb(14,14,15);
@main-font: "Roboto", sans-serif;
@title-background-color: rgb(20,20,21);
@title-color: white;
@default-text-color: rgb(255, 49, 49);
@transition-timing: cubic-bezier(.29,.87,.7,1.02);

body {
	background-color: @background-color;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.title-bar {
	background-color: @background-color; // * Defined at the moment
	width: 100%;
	height: 34px;
	-webkit-app-region: drag;
	-webkit-user-select: none;

	.bar-button {
		position: relative;
		display: inline-block;
		-webkit-app-region: no-drag;
		width: 25px;
		height: 25px;
		padding-right: 3px;
		padding-left: 10px;
		padding-top: 10px;
		transition: .3s;
	}

	/* .bar-maple {
		display: inline-block;
		align-items: center;
		-webkit-app-region: no-drag;
		width: 13px;
		height: 13px;
		right: 5px;
		transition: .3s;
		border: none;
	} */
}

#directory {
	-webkit-user-select: none;
	display: inline-block;
	color: @default-text-color;
	text-align: left;
	font: @main-font;
	margin-left: 5vh;
	width: 90vh;
	height: fit-content;
}

#tooltip {
	-webkit-user-select: none;
	position: absolute;
	color: @background-color;
	text-align: left;
	align-content: center;
	font: @main-font;
	width: fit-content;
	height: fit-content;
	margin-left: 50vh;
	margin-top: -50vh;
	pointer-events: none;
}

#container {
	background: @background-color;
	display: block;
	margin-top: auto;
	margin-left: 5vh;
	height: 90vh;
	width: 90vh;
}

circle {
	stroke-width: 0px;
	transition: .5s @transition-timing;
}

circle:hover {
	stroke-width: 10px;
	transition: .3s @transition-timing;
}