@background-color: rgb(32, 32, 32);
@transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
@hover-size: .8;
@click-size: 1.2;
@close-fill-color: rgb(255,87,87);
@minimize-fill-color: rgb(255,227,87);
@expand-fill-color: rgb(87,255,126);
@highlight-color: white;
@click-color: gold;
@highlight-end-radius: 250;

.poly {
    fill-rule: evenodd;
}

#close-path {
    fill: @close-fill-color;
    transition: @transition;
}

#min-path {
    fill: @minimize-fill-color;
    transition: @transition;
}

#exp-path {
    transform: rotate(60deg);
    transform-origin: center;
    fill: @expand-fill-color;
    transition: @transition;
}

#coll-path {
    transform: rotate(-60deg);
    transform-origin: center;
    fill: @expand-fill-color;
    transition: @transition;
}

#close:hover
.poly {
    transform: scale(@hover-size);
    transform-origin: center;
    fill: @highlight-color;
    transition: @transition;
}

#minimize:hover
.poly {
    transform: scale(@hover-size) rotate(-90deg);
    transform-origin: center;
    fill: @highlight-color;
    transition: @transition;
}

#expand:hover
.poly {
    transform: scale(@hover-size);
    transform-origin: center;
    fill: @highlight-color;
    transition: @transition;
}

#collapse:hover
.poly {
    transform: scale(@hover-size);
    transform-origin: center;
    fill: @highlight-color;
    transition: @transition;
}

#close.click
.poly {
    fill: @click-color;
    transform: scale(@click-size);
    transform-origin: center;
    transition: @transition;
}

#minimize.click
.poly {
    fill: @click-color;
    transform: scale(@click-size) rotate(-90deg);
    transform-origin: center;
    transition: @transition;
}

#expand.click
.poly {
    fill: @click-color;
    transform: scale(@click-size);
    transform-origin: center;
    transition: @transition;
}

#collapse.click
.poly {
    fill: @click-color;
    transform: scale(@click-size);
    transform-origin: center;
    transition: @transition;
}