.anim {
  -webkit-animation: dash 0.3s linear forwards;
  -moz-animation: dash 0.3s linear forwards;
  -ms-animation: dash 0.3s linear forwards;
  animation: dash 0.3s linear forwards;
}
.poly {
  fill-rule: evenodd;
  vector-effect: scaling-stroke;
  stroke-linejoin: miter;
  stroke-linecap: square;
  stroke-miterlimit: 3;
  stroke: #fff;
  stroke-width: 10;
  -webkit-animation: dash 0.3s linear forwards;
  -moz-animation: dash 0.3s linear forwards;
  -ms-animation: dash 0.3s linear forwards;
  animation: dash 0.3s linear forwards;
}
#close-path {
  fill: #ff5757;
  transition: 0.3s;
}
#min-path {
  fill: #ffe357;
  transition: 0.3s;
}
#exp-path {
  transform: rotate(60deg);
  transform-origin: center;
  fill: #57ff7e;
  transition: 0.3s;
}
#coll-path {
  transform: rotate(-60deg);
  transform-origin: center;
  fill: #57ff7e;
  transition: 0.3s;
}
#close:hover .poly {
  transform: scale(0.8);
  transform-origin: center;
  fill: white;
  transition: 0.3s;
}
#minimize:hover .poly {
  transform: scale(0.8) rotate(-90deg);
  transform-origin: center;
  fill: white;
  transition: 0.3s;
}
#expand:hover .poly {
  transform: scale(0.8);
  transform-origin: center;
  fill: white;
  transition: 0.3s;
}
#collapse:hover .poly {
  transform: scale(0.8);
  transform-origin: center;
  fill: white;
  transition: 0.3s;
}
#close.click .poly {
  fill: gold;
  transform: scale(1.2);
  transform-origin: center;
  transition: 0.3s;
}
#minimize.click .poly {
  fill: gold;
  transform: scale(1.2) rotate(-90deg);
  transform-origin: center;
  transition: 0.3s;
}
#expand.click .poly {
  fill: gold;
  transform: scale(1.2);
  transform-origin: center;
  transition: 0.3s;
}
#collapse.click .poly {
  fill: gold;
  transform: scale(1.2);
  transform-origin: center;
  transition: 0.3s;
}
@keyframes dash {
  to {
    stroke-width: 0;
  }
}
