@close-fill-color: rgb(255,87,87);
@minimize-fill-color: rgb(255,227,87);
@expand-fill-color: rgb(87,255,126);
@highlight-color: white;
@click-color: gold;

.poly {
    fill-rule: evenodd;
    vector-effect: scaling-stroke;
    stroke-linejoin: miter;
    stroke-linecap: square;
    stroke-miterlimit: 3;
    stroke: #fff;
    stroke-width: 10;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: dash 1s linear forwards;
    -moz-animation: dash 1s linear forwards;
    animation: dash 1s linear forwards;
}

#close-path {
    fill: @close-fill-color;
    transition: .3s;
}

#min-path {
    fill: @minimize-fill-color;
    transition: .3s;
}

#exp-path {
    fill: @expand-fill-color;
    transition: .3s;
}

#close:hover
.poly {
    transform: scale(.8);
    transform-origin: center;
    fill: @highlight-color;
    transition: .3s;
}

#minimize:hover
.poly {
    transform: scale(.8) rotate(-90deg);
    transform-origin: center;
    fill: @highlight-color;
    transition: .3s;
}

#expand:hover
.poly {
    transform: scale(.8);
    transform-origin: center;
    fill: @highlight-color;
    transition: .3s;
}

#close.click
.poly {
    fill: @click-color;
    transform: scale(1.2);
    transform-origin: center;
    transition: .2s
}

#minimize.click
.poly {
    fill: @click-color;
    transform: scale(1.2) rotate(-90deg);
    transform-origin: center;
    transition: .2s
}

#expand.click
.poly {
    fill: @click-color;
    transform: scale(1.2);
    transform-origin: center;
    transition: .2s
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
        stroke-width: 0;
    }
}